<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="wordata">
    <meta name="description" content="분야별 영어 단어 빈도수를 분석해주는 사이트입니다.">
    <meta name="keywords" content="wordata, 워다타, 영어단어, 수능단어, 토익, 단어분석, 영어순위">
    <title>파일 업로드</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/favicon_72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/icons/favicon_96.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/favicon_144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/icons/favicon_192.png" />
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
       
</head>
<body>
 
 <header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix"> 
                <h1>
                    <a href="index.html">
                        <h2>WORDATA</h2>
                    </a>
                </h1>
                <nav id="mNav">
                    <h2 class="ir_so">워다타 전체메뉴</h2>
                    <a href="#" class="ham"><span></span></a>
                </nav>
                <nav class="nav">
                    <ul class="clearfix">
                        <li><a href="suneung.html">수능특강</a></li>
                        <li><a href="mouigosa.html">모의고사</a></li>
                        <li class="myvoca"><a href="myword.html">나만의 단어장</a></li>
                        <li><a href="joinMembership.html">회원가입</a></li>
                        <li><a href="login.html">로그인</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> 
     
</header>
<!-- //header -->

<div class="contents">
    <div class="container">
        <div class="row">
            <div class="uploadfile">
               <h2>자신의 파일(.pdf .docx .xls)의 단어 빈도수를 분석하여 순위를 알려드립니다!</h2>
               <p>
               &#9995; 초등 영어단어 800개는 제외하였습니다.<br>
               &#9995; 박결 vs 박지영. 진짜 조장은??? 그리고 진짜 '박'씨는???<br>
               &#9995; ---------추가조건 적기---------
               </p>
                <form action="#">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile" style="font-size: 18px;">파일 찾기</label>
                    </div>
                </form>
                <p class="result">&#10003; 단어 순위 보기 &#10003;</p>
            </div>
            <!-- uploadfile-->
            
            <div class="word_ranking">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">체크</th>
                            <th scope="col">순위</th>
                            <th scope="col">영어단어</th>
                            <th scope="col">뜻</th>
                            <th scope="col">예문</th>
                            <th scope="col">예문 해석</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">1</th>
                            <td>go</td>
                            <td>V. 가다</td>
                            <td>I go to the M201 every day.</td>
                            <td>나는 매일 M201 강의실을 간다.</td>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">2</th>
                            <td>people</td>
                            <td>N. 사람들</td>
                            <td>The safety of the people shall be the highest law.</td>
                            <td>국민의 안전이 최상의 법률이다.</td>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">3</th>
                            <td>book</td>
                            <td>N. 책 / V. 예약하다</td>
                            <td>This book contains a lot of useful information.</td>
                            <td>이 책에는 유익한 정보가 많이 들어있다.</td>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">4</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">5</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">6</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">7</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">8</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">9</th>
                        </tr>
                        <tr>
                           <td>
                                <form>
                                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                                    <label for="fruit1"></label>
                                </form>
                            </td>
                            <th scope="row">10</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- word_ranking-->
            <div class="nextbutton">
                
            </div>
            <!-- nextbutton-->
        </div>
    </div>
</div>
<!--  contents -->

<footer id="footer">
        <div id="footer_sns">
            <div class="container">
                <div class="footer_sns">
                    <ul>
                        <li class="icon s1"><a href="#"><span class="ir_pm">트위터</span></a></li>
                        <li class="icon s2"><a href="#"><span class="ir_pm">페이스북</span></a></li>
                        <li class="icon s3"><a href="#"><span class="ir_pm">인스타그램</span></a></li>
                        <li class="icon s4"><a href="#"><span class="ir_pm">구글 플레이</span></a></li>
                        <li class="icon s5"><a href="#"><span class="ir_pm">아이폰 앱스토어</span></a></li>
                    </ul>    
                    <div class="tel">
                        <a href="#">ARS <em>010-2271-8184</em></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_infor">
            <div class="container">
                <div class="row">
                    <div class="footer_infor">
                        <h2>WORDATA</h2>
                        <ul>
                            <li><a href="#">서비스 소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">워다타 개발자</a></li>
                        </ul>
                        <address>
                            <p>서울특별시 구로구 항동 1-1 성공회대학교<br>서비스 문의: ironhak1106@gmail.com</p>
                            <p>Copyright 2019 by WORDATA develpoer Inc. All right reserved</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

<!-- 자바스크립트 라이브러리 -->
    <script src="js/jquery.min_1.12.4.js"></script>
    <script src="js/modernizr-custom.js"></script>
    <script src="js/ie-checker.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container',{
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
        });
        
        //단어순위 탭 메뉴
        var movBtn = $(".movie_title > ul > li");
        var movCont = $(".movie_chart > div");
        
        movCont.hide().eq(0).show();
        
        movBtn.click(function(e){
            e.preventDefault();
            var target = $(this);
            var index = target.index();
            movBtn.removeClass("active");
            target.addClass("active");
            movCont.css("display","none");
            movCont.eq(index).css("display","block");
        });
    </script>
    <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    
</body>
</html>